/* GENERAL STYLES   */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Rubik+Doodle+Triangles&family=Russo+One&display=swap");
@import url("/font-awesome-4.6.3/css/font-awesome.min.css");
@import url("/font-awesome-4.6.3/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #3cb371;
}
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(223, 47%, 23%);
  --magic-color-yellow: linear-gradient(-45deg, white 30%, yellow 0%);
  --magic-color-lightgreen: linear-gradient(-45deg, white 30%, lightgreen 0%);
  --magic-color-lightblue: linear-gradient(-45deg, white 30%, lightblue 0%);
  --magic-color-tomato: linear-gradient(-45deg, white 30%, tomato 0%);
  --magic-color-purple: linear-gradient(-45deg, white 30%, purple 0%);
}
/* STYLING THE NAVIGATION BAR */
.active-love-navigation {
  background-color: #2e8b57;
}
#active-love-nav-menu {
  display: block;
  /* background: #86e7b8; */
  padding: 20px;
  margin-bottom: 0px;
  padding-top: 20px;
  border-bottom: 1px solid #eee;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 20px;
}

.active-love-nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.active-love-nav-links a:hover {
  color: black;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: white;
}
.active-love-nav-links:hover {
  color: aqua;
}

.active-love-nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
#about-active-love-btn {
  background-color: #fff3e4;
  /* background-color: white; */
  border-radius: 20px;
  border-color: black;
  font-size: 20px;
  padding: 15px 15px;
  /* text-align: center; */
  margin: auto;
}

/* LOGIN FORM */
#login-form {
  display: none;
  background-image: url(images/nature.jpg);
}
#login-form:click {
  display: none;
}
.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 2% auto;
  /* background: rgba(0, 0, 0, 0.3); */
  /* background: #bcf4de; */
  background: #86e7b8;
  padding: 10px;
  overflow: hidden;
  border-radius: 20px;
}
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: white;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #f3c693;
  transition: 0.5s;
}
.input-group-login {
  top: 150px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-group-register {
  top: 120px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid white;
  background: transparent;
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #f3c693;
  border: 0;
  outline: none;
  border-radius: 30px;
}
.loginbtn {
  padding: 10px;
  cursor: pointer;
  margin: auto;
  background: #f3c693;
  border: 0;
  outline: none;
  border-radius: 20px;
}
.check-box {
  margin: 30px 10px 34px 0;
}
span {
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}
#login {
  left: 50px;
}
#login input {
  color: white;
  font-size: 15;
}
#register {
  left: 450px;
}
#register input {
  color: white;
  font-size: 15;
}

/* THIS IS THE STYLES BELOW NAVIGATION */
.content-below-nav {
  /* background-image: linear-gradient(rgba(5, 0, 136, 0.5), rgba(5, 0, 136, 0.5)),
    url(images/active.jpeg); */
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 2px 10px 5px white;
  /* animation: slider 20s infinite linear;
  animation-delay: 20s; */
  margin: 20px;
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
}
.content-below-nav p {
  color: white;
  font-size: 30px;
  padding: 20px;
  border: 20px;
  border-radius: 20px;
  margin: 20px;
  text-align: justify;
  background-image: url(images/nature.jpg);
}
marquee {
  color: #ffff;
  font-size: 32px;
  /* font-style:italic; */
  background-color: #008080;
  /* text-transform: uppercase; */
}
/* THIS IS THE STYLES ABOUT MISSION & VISION */
.mission-vision {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.mission,
.vision {
  margin: 20px;
  border: 20px;
  border-radius: 15px;
  align-content: center;
  background-color: white;
  max-height: 50%;
}
.mission-254,
.vision-254 {
  margin: 10px;
  list-style: none;
}
.mission .mission-paragraph,
.vision .vision-paragraph {
  padding: 30px;
  padding-top: 0px;
  text-align: justify;
}

/* THIS IS THE PROJECT SECTION */
.project-section-h1 {
  font-size: 3rem;
  margin: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#donations {
  padding: 20px;
}

.project-img {
  width: 500px;
  height: 400px;
  border: 20px;
  border-radius: 20px;
}

.active-love-projects {
  display: flex;
}

.about-section-h2 {
  padding: 20px;
  font-size: 20px;
  background-color: white;
  height: 50%;
  border-radius: 20px;
}
/* THIS IS THE ABOUT SECTION */
.about-section-h1 {
  font-size: 3rem;
  margin: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
#about-section-active-love {
  width: 100vh;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text {
  width: 550px;
}
.about-text h1 {
  color: white;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-section-main {
  width: 100%;
  padding: 78px 0px;
  background-color: white;
  padding: 20px;
  border: 20px;
  border-radius: 20px;
  display: flex;
}
.about-section-main img {
  height: 100vh;
  /* width: 500px; */
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-paragraph {
  /* background-color: #e3edf7; */
  background-color: #008080;
  border-radius: 20px;
  text-align: justify;
  padding: 20px;
  line-height: 2rem;
  font-size: 16px;
}
.clapping {
  height: auto;
  padding: 0px;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  border: 20px;
}

/* THIS SECTION CONTAINS THE CONTACT PAGE */
.contact-h1 {
  padding-top: 10px;
  text-align: center;
  font-size: 3rem;
}
input,
textarea {
  background-color: white;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 20px;
}
textarea {
  margin-bottom: 25px;
}
input:focus-within,
textarea:focus-within {
  outline: none;
  border-color: #5bd183;
  border-width: 3px;
}
.contact-btn-submit {
  background-color: #fff3e4;
  border: none;
  border-radius: 20px;
  border-color: black;
  font-size: 22px;
  padding: 18px 18px;
  text-align: center;
  display: flex;
  margin: auto;
}
.contact-btn-submit:hover {
  opacity: 80%;
  cursor: pointer;
}

/* THIS SECTION CONTAINS THE FAQs */
.faq-section-h1 {
  font-size: 3rem;
  margin: 20px;
  margin-bottom: 0px;
  text-align: center;
}
.accordion {
  margin: 60px auto;
  margin-top: 0px;
  width: 600px;
}
.accordion li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #e3edf7;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
label::before {
  content: "+";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}
input[type="radio"] {
  display: none;
}
.accordion .content {
  color: #555;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}
.accordion input[type="radio"]:checked + label::before {
  content: "-";
}
.content p {
  text-align: justify;
}
/* .accordion input[type="radio"]:checked + label::after {
  overflow: hidden;
} */

/* THIS SECTION CONTAINS THE FOOTER */
.footer-paragraph {
  background-color: white;
  text-align: center;
  /* color: white; */
}

/* @keyframes slider {
  0% {
    background-image: linear-gradient(
        rgba(5, 0, 136, 0.5),
        rgba(5, 0, 136, 0.5)
      ),
      url(assets/hospital_hall.jpg);
    animation-delay: 20s;
    animation-duration: 20s;
  }
  35% {
    background-image: linear-gradient(
        rgba(5, 0, 136, 0.5),
        rgba(5, 0, 136, 0.5)
      ),
      url(assets/reception.jpg);
    animation-delay: 20s;
    animation-duration: 20s;
  }
  75% {
    background-image: linear-gradient(
        rgba(5, 0, 136, 0.5),
        rgba(5, 0, 136, 0.5)
      ),
      url(assets/consultation.jpg);
    animation-delay: 20s;
    animation-duration: 20s;
  }
} */
